@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text {
    @apply text-lg text-[#707A83] font-semibold;
  }

  .signup-input {
    @apply border-b outline-none w-full;
  }

  .err-msg {
    @apply text-red-500 text-sm;
  }

  .auth-btn {
    @apply w-fit mx-auto px-3 py-1.5 font-bold hover:opacity-80 text-white bg-brand-color rounded-md;
  }

  .dropdown-menu {
    transform: translateY(-10px);
    pointer-events: none;
  }
  .dropdown-menu:hover {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .dropdown-link:hover + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    transition: all 150ms ease-in-out;
    pointer-events: auto;
  }
}
